<section class="container mx-auto mt-7">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg ">

        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400" >

                <tr>
                    <th scope="col" class="px-6 py-3">
                        Orders
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Customers
                    </th>
                    
                    <th scope="col" class="px-6 py-3">
                        Address
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Placed at
                    </th>
                   
                </tr>

            </thead>
            <tbody id="adminOrderTableBody">
             

               
            </tbody>
        </table>
    </div>
</section>
